@media (max-width: 576px) {
  .slide {
    margin: 20px 0;
    img {
      height: 30vh;
      object-fit: cover;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .slide {
    margin: 20px 0;
    img {
      height: 40vh;
      object-fit: cover;
    }
  }
}

@media (min-width: 769px) {
  .slide {
    margin: 20px 0;
    img {
      height: 50vh;
      object-fit: cover;
    }
  }
}
